{% extends "base.html" %}

{% block main %}
<style>
    #add-kid-wrap {
        margin: 20px 0 0 0;
    }

    #select-kid {
        width: 150px;
        font-size: 1.7rem;
    }

    #message-wrap {
        margin: 20px 0 0 0;
    }

    #messages {
        font-size: 1.5rem;
    }
</style>
{% set mine = event.leader._id.toString() == user._id.toString() %}

<div class="container">
    <div class="main">
        <h3>
            <table>
                <tr>
                    <td width="30%">Host</td>
                    <td>
                        {% if mine %}
                        <a href="/profile">Me</a>
                        {% else %}
                        <a href="/user/{{event.leader._id}}">{{event.leader.contact.name}}</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td>{{event.when | date('MMM DD h:mma')}}</td>
                </tr>
                <tr>
                    <td>Duration</td>
                    <td>{{event.duration}} hours</td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td>{{event.location}}</td>
                </tr>
                {% if event.notes %}
                <tr>
                    <td>Notes</td>
                    <td>{{event.notes}}</td>
                </tr>
                {% endif %}
                <tr>
                    <td>Available</td>
                    <td>{{event.spaces - event.kids.length}}</td>
                </tr>
                <tr valign="top">
                    <td>Attending</td>
                    <td>
                        <div>
                            {% for k in event.kids %}
                            {% if k.name %}
                            {{k.name}}
                            {% if user.hasKid(k._id) %}
                            <a href="#" class="remove" data-id="{{k._id}}"><i class="fa fa-times-circle"></i></a>
                            {% endif %}
                            <br>
                            {% endif %}
                            {% endfor %}
                            {% if event.kids.length == 0 %}
                            No one <i>yet</i>.
                            {% endif %}
                        </div>

                        <div id="add-kid-wrap">
                            {% if not mine %}
                            <a href="#" id="add-kid">Add</a>
                            <select id="select-kid">
                                {% for k in user.kids %}
                                {% if not event.hasKid(k._id) %}
                                <option value="{{k._id}}">{{k.name}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            {% endif %}
                        </div>

                    </td>
                </tr>
            </table>
        </h3>
    </div>
    <div>
        <a href="/?d={{event.when | date}}" class="button">View in calendar</a>
        {% if mine %}
        <span class="u-pull-right">
            <a href="/event/{{event._id}}/update" class="button">Edit</a>
            <a href="/event/{{event._id}}/remove" class="button confirm">Cancel</a>
        </span>
        {% endif %}
    </div>


    <div id="message-wrap">
        <table>
            <tr>
                <td><h4>Messages</h4></td>
            </tr>
            <tr>
                <td>
                    <div id="messages"></div>
            </tr>
        </table>


        <div>
            <a href="#" class="button" id="post-message">POST MESSAGE</a>
        </div>
    </div>

</div>
</div>
<script>
    var $s = $("#select-kid");
    $("#add-kid").click(function () {
        document.location.href = "/event/{{event._id}}/add/" + $s.val();
        return false;
    });
    $(".remove").click(function () {
        var d = $(this).data("id").trim();
        document.location.href = "/event/{{event._id}}/remove/" + d;
        return false;
    });
    if ($s.find('option').length == 0)
        $("#add-kid-wrap").hide();

    $(".confirm").click(function () {
        var url = $(this).attr('href');
        alert('Are you sure?', "Canceling the event will email anyone signed up.", function () {
            location.href = url;
        });
        return false;
    });

    $.ajax({url: "/event/{{event._id}}/messages"}).done(function (messages) {
        var $m = $("#messages");
        $m.empty();
        messages.forEach(function (m) {
            var $r = $$();
            $r.append(moment(m.when).format('MM/DD h:mma') + " &nbsp; ");
            $r.append(m.from.contact.name + " ");
            $r.append('<b>'+m.text+'</b>');
            $m.append($r);
        })
    }).error(function (e) {
        console.error(e);
    });

    $("#post-message").click(function () {
        var $t = $("<textarea></textarea>");
        alert("Post a Message", $t, function () {
            console.log($t.val());
            $.ajax({
                url: "/event/{{event._id}}/message",
                type: "post",
                data: {text: $t.val()}
            }).done(function (message) {
                location.reload();
            }).error(function (e) {
                console.error(e);
            });
        });
        return false;
    })
</script>
{% endblock %}