{% extends "base.html" %}

{% block main %}
<style>

    table {
        border-collapse: collapse;
        width: 100%;
    }

    .event {
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 7px 0 0 0;
        cursor: pointer;
        height: 140px;
        width: 14.28%;
    }

    .event:hover {
        background-color: #f7f7f7;
    }

    .event_header {
        margin: 0 0 15px 0;
        padding: 0 0 0 10px;
    }

    .event_item {
        margin: 0 0 5px 0;
        padding: 3px 5px 3px 10px;
        font-size: 1.4rem;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .available {
        background-color: #ffffc2;
    }

    .event_item.available:hover {
        background-color: #ffff00;
    }

    .full {
        background-color: #fa5;
    }

    .event_item.full:hover {
        background-color: #ff8700;
    }

    .event_add {
        margin: 10px 0 5px 0;
        padding: 0 0 0 10px;
        font-size: 1.4rem;
    }

    .event_add:hover {
        color: #E7001F;
    }

    .before {
        opacity: .4;
        background-color: #fefefe;
    }

    .today {
        border: 3px solid black;
    }

    @media (min-width: 550px) {

        .container .column,
        .container .columns {
            margin-left: 0px;
        }
    }
</style>
<div class="container">
    {% if user %}

    <div id="top_row">
        <div>
            <a href="#" id="last-month"><i class="fa fa-angle-left"></i></a>
            <select id="select-month">
                <option>January</option>
                <option>February</option>
                <option>March</option>
                <option>April</option>
                <option>May</option>
                <option>June</option>
                <option>July</option>
                <option>August</option>
                <option>September</option>
                <option>October</option>
                <option>November</option>
                <option>December</option>
            </select>
            <a href="#" id="next-month"><i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    <div id="calendar">
        Initializing...
    </div>

    <script src="/js/events.js"></script>
    <script>
        function query_params() {
            var a = window.location.search.substr(1).split('&');
            var b = {};
            for (var i = 0; i < a.length; ++i) {
                var p = a[i].split('=');
                if (p.length != 2) continue;
                b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));
            }
            return b;
        }
        init_cal("{{user._id}}", moment(query_params().d));
    </script>


    {% else %}
    <h3>Log in with</h3>

    <div><a href="/auth/facebook" class="button"><span class="fa fa-facebook"></span> Facebook</a></div>
    <div><a href="/auth/google" class="button"><span class="fa fa-google-plus"></span> Google</a></div>
    <!--<div><a href="/auth/twitter" class="button"><span class="fa fa-twitter"></span> Twitter</a></div>-->
    <!--<div><a href="/auth/github" class="button"><span class="fa fa-google-plus"></span> Github</a></div>-->

    {% endif %}
</div>
{% endblock %}