{% extends "base.html" %}

{% block main %}
<div class="container">
    <div class="main">
        <h3>
            <table>
                <tr>
                    <td width="30%">Name</td>
                    <td>{{user1.contact.name}}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{user1.contact.email}}</td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>{{user1.contact.phone1}}</td>
                </tr>
                <tr>
                    <td>Phone alternate</td>
                    <td>{{user1.contact.phone2}}</td>
                </tr>

                <tr valign="top">
                    <td>Children</td>
                    <td>
                        {% for k in user1.kids %}
                        {{k.name}}<br>
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </h3>


    </div>
</div>
{% endblock %}