{% extends "base.html" %}

{% block main %}
<style>
    .big {
        font-size: 4rem;
        background-color: #eee;
        padding: 4rem;
        text-align: center;;
    }
</style>
<div class="container">
    <div class="main">
        <div class="row">
            <div class="four columns big">
                Hosted: {{hosted.length}}
            </div>
            <div class="four columns big">
                Attended: {{attended.length}}
            </div>
            <div class="four columns big">
                Points: {{attended.length}}
            </div>
        </div>
        <form method="post">
            <div>
                <label>Name</label>
                <input type="text" name="name" value="{{user.contact.name}}">
            </div>
            <div>
                <label>Phone</label>
                <input type="text" name="phone1" value="{{user.contact.phone1}}">
            </div>
            <div>
                <label>Phone Alternate</label>
                <input type="text" name="phone2" value="{{user.contact.phone2}}">
            </div>

            <br>

            <div id="kid-wrapper">
                <table>
                    <tr>
                        <td><h3>Children</h3></td>
                    </tr>
                </table>

                {% for kid in user.kids %}
                <div class="row">
                    <input type="text" name="kid" value="{{kid.name}}"
                           class="four columns medium_size" placeholder="Name">
                    <input type="text" name="kid"
                           {% if kid.birthday %} value="{{kid.birthday | date('MM/DD/YYYY')}}" {% endif %}
                           class="four columns medium_size" placeholder="Birthday MM/DD/YYYY">
                    <input type="text" name="kid" value="{{kid.notes}}"
                           class="four columns medium_size" placeholder="Notes">
                </div>
                {% endfor %}

                <div class="row" id="kid-template">
                    <input type="text" name="kid" class="four columns medium_size" placeholder="Name">
                    <input type="text" name="kid" class="four columns medium_size" placeholder="Birthday MM/DD/YYYY">
                    <input type="text" name="kid" class="four columns medium_size" placeholder="Notes">
                </div>

            </div>
                <a href="#" id="add-kid">Add a kid</a>

            <br><br>
                        <button>Save</button>

        </form>

    </div>
</div>
<script>
    $("#add-kid").click(function () {
        $("#kid-wrapper").append($("#kid-template").clone());
        return false;
    });
</script>
{% endblock %}